@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

:root {
    --primary-color: #24282c;
    --sec-color: #f7f3f3;
}

body {
    /* font-family: 'Poppins', sans-serif; */
    background-color: var(--primary-color);
    color: var(--sec-color);
} 

/* ============ Nav bar ============ */

header {
    height: 60px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: whitesmoke;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    padding: 0px 50px;
}

.nav-container {

    transition: all 0.3s ease-in-out;
}

.logo > a {
    font-family: 'Bruno Ace', sans-serif;
    font-size: large;
    font-weight: bolder;
    color: #d64c31;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
}

.hamburger{  
    display:none;  
    cursor:pointer;  
   }  

.hamburger > i {
    color: #d64c31;
    font-size: 22px;
}

.nav-bar {
    display: flex;
    column-gap: 30px;
}

.nav-bar > a {
    text-decoration: none;
    font-family: 'Bruno Ace', sans-serif;
    font-size: small;
    font-weight: bolder;
    color: #d64c31;
    opacity: 0.8;
    transition: all 0.4s ease-in-out;
}
 
.nav-bar > a:hover {
    opacity: 0.9;
    transform: scale(1.1);  
    border-bottom: 2px solid black; 
 } 

 .logo > a:hover {
    opacity: 0.7;
    transform: scale(1.1);  
    border-bottom: 2px solid black; 
 }


/* =========== About section ===========  */

 .main-content {
     grid-area: about;
}
 .social-links-container {
    grid-area: links;
} 

.about-container {
    display: grid;
    grid-template-areas:'about about links';
    width: 60%;
    margin: 0px auto;
    place-items: center;
    min-height: 100vh;
    gap: 36px;   
 } 

.main-title {
    font-family: 'Bruno Ace', sans-serif;
    margin: 10px 0px;
    color: #d64c31;
}

.main-text {
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    text-align: justify;
    line-height: 32px;
}

.social-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

.social-links {
    text-decoration: none;
    background-color: gray;
    padding: 10px;
    cursor: pointer;
    margin: 8px 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 3px 15px rgba(0,0,0,.3);
}

.social-links > i {
    font-size: 22px;
    color: var(--sec-color);
}

.social-links:hover {
    background-color: #d64c31;
    transition: all .4s ease-in-out;  
    transform: scale(1.1);  
}


/* ======== Skill section ======= */


.skill-section {
    width: 80%;
    margin: 80px auto;
    /* height: 100vh;  */
 
}

.skill-section > h2 {
    font-family: 'Bruno Ace', sans-serif;
    color: #d64c31;
    margin: 20px 0;
}

.skill-level {
    font-family: 'Fira Sans', sans-serif;
    text-align: justify;
    line-height: 32px;
}

.skills-container {
    width: 70%;
    margin: 80px auto;
}

.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 16px;
    place-items: center;
    margin: 32px 0px;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 20px;
    cursor: pointer;
    margin: 16px 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 3px 15px rgba(0,0,0,.3);
}

.skill > i {
    font-size: 44px;
    color: var(--sec-color);
}

.skill-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
    width: 80px;
    height: 80px;
    padding: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: gray;
    box-shadow: 0 3px 15px rgba(0,0,0,.3);

}

.skill-container:hover {
    background-color: #d64c31;
    transition: all .4s ease-in-out; 
    transform: scale(1.1); 
}

.t-skill {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
}

.skill:hover {
    background-color: #d64c31;
    transition: all .4s ease-in-out; 
    transform: scale(1.1); 
    /* border: 1px solid #d64c31;
    box-shadow: 1px 4px 15px rgba(0,0,0,.32);  */
}

/* ======== project section ======= */

.project-container {
    width: 80%;
    margin: 80px auto; 
    /* height: 100vh;  */
}

.project-container >h2 {
    margin: 80px 0 40px 0;
    color: #d64c31;
    font-family: 'Bruno Ace', sans-serif; 
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 48px;
}

.project {
    position: relative;
    border-radius: 15px;
}

.image {
    width: 100%;
    /* max-height: 100%; */
    object-fit: cover;
    border-radius: 15px;
} 

 .hover-items {
    width: 100%;
    height: 100%;
    background-color: #24282c;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) ;
    transition: all .4s ease-in-out;
    text-align: center;
 }

 .icons > p {   
  margin: 8px 0px;

  }
    
 .project-link {
    margin-top: 15px;
 }

 .project-link > .source-code, .live-site {
    display: inline;
    color: white;
    text-decoration: none;
    border: 1px solid  #d64c31; 
    padding: 2px 6px;
    border-radius: 10px;
    margin-inline: 4px;
    transform: scale(0);
} 

.source-code:hover, .live-site:hover{
    transition: all .4s ease-in-out; 
    transform: scale(1.1); 
    color:#d64c31;
    border: none;
}

.project:hover .hover-items {
    opacity: 0.8;
    transform: scale(1);
}


/* ========CSS of Contact Form ========*/

.contact-container {
    width: 80%;
    margin: 80px auto; 
}

.contact-container > h2 {
    font-family:'Bruno Ace', sans-serif;
    margin: 40px 0px;
    color: #d64c31;
}

form {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container > input,textarea, input[type=submit]{
    font-family: 'Fira Sans', sans-serif;
    width: 400px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    padding: 12px;
    border-radius: 30px;
    font-weight: 600;
}

.required-field::after {
    content: "*";
    color: red;
} 

input:focus, textarea:focus {
    outline: none !important; 
    border-color: #d64c31;
    box-shadow: 0 0 5px #efc3bb;
}

input[type=submit]:hover {
    color: #d64c31;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

/* ========== Footer ============ */

footer {
    height: 50px;
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-container > p {
    color: #d64c31;
    font-size: medium;
}

.footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
}

.footer-items > a > i {
    color: #d64c31;
    opacity: 0.8;
    font-size: 22px;
}

.footer-items > a > i:hover {
    transition: all .4s ease-in-out; 
    transform: scale(1.1); 
    opacity: none;
}


/*=========== hr ============*/

hr {
    max-width: 30%;
    border: 0.5px solid #eba596;
    margin: 40px auto;
}


/* =========== Media Queries ===========*/

@media (max-width: 425px) {

 .nav-bar {
  column-gap: 10px;
} 
.nav-bar > a {
    font-size: xx-small;
} 
.about-container {
    /* width: 90%;
    font-size: small;  */
    font-size: small;
    line-height:none;
    gap: 0px;
    margin-top: 150px;
    grid-template-areas:
        'about'
        'links';
    }
.social-links-container {
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    }
.projects {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.skill {
    width: 60px;
    height: 60px;
    padding: 10px;
}
.skill > i {
    font-size: 30px;
}
.skill-container {
    width: 60px;
    height: 60px;
    padding: 10px;
}

.t-skill {
    width: 35px; 
    height: 35px;
}
.skills {
    grid-template-columns: repeat(3, 1fr);
}

.skills-container {
    width: 90%;
}

.about-container {
    width: 80%;
}

.input-container > input,textarea, input[type=submit]{
    width: 200px;
}
}

.nav-change{  
    transform:translate(0%) !important;  
   }  

@media (max-width:768px){   
    .nav-container{  
      position:fixed;   
      top:60px;  
      left: 0;;
      width: 100%;
      /* background-color:rgb(0,0,0,0.75);   */
      padding: 10px 0 25px;
      transform:translateX(100%); 
     }  

     .nav-bar {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
     }

     .nav-bar > a {
        font-size: 14px;
     }

     .hamburger {
        display: block;
     }
    }  
