@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Fira+Sans&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

/* Nav bar CSS starts */

.nav-container {
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center; 
    background-color: whitesmoke;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
}

.nav-bar {
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    font-size: medium;
}

.nav-bar > a {
    text-decoration: none;
    font-family: 'Bruno Ace', sans-serif;
    font-size: small;
    font-weight: bolder;
    color: #d64c31;
    /* color: rgb(218, 56, 7); */
    transition: all 0.3s ease-in-out;
}
 
.nav-bar > a:hover {
    opacity: 0.7;
    transform: scale(1.1);  
    border-bottom: 2px solid black;
 } 
/* Nav bar CSS ends */


/* About section CSS starts  */
/* 
.about-container {
    display: grid;
    grid-template-columns:  1fr auto;
    width: 60%;
    margin: 0px auto;
    place-items: center;
    height: 100vh;
    gap: 24px;
   
} */

 .main-content {
     grid-area: about;
}
 .social-links-container {
    grid-area: links;
} 

.about-container {
    display: grid;
    grid-template-areas:'about about links';
    width: 60%;
    margin: 0px auto;
    place-items: center;
    height: 100vh;
    gap: 24px;   
 } 

.main-title {
    font-family: 'Bruno Ace', sans-serif;
    margin: 10px 0px;
    color: #d64c31;
}

.main-text {
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    text-align: justify;
    
}

.social-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px; 
}

.social-links {
    text-decoration: none;
    color: #d64c31;
    font-size: 25px;
    padding: 0 5px;
}

.social-links:hover {
    opacity: .5;
}

/* About section CSS ends  */

/* ======== project section ======= */
.project-container {
    width: 60%;
    margin: 0px auto;  
}

.project-container > h2 {
    font-family: 'Bruno Ace', sans-serif;
    color: #d64c31;
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: #d64c31;
    border-radius: 10px;
}

/* Project section ends */

/* ========CSS of Contact Form ========*/
.contact-container {
    width: 60%;
    border-radius: 5px;
    margin: 0px auto;  
}

form > h2 {
    font-family:'Bruno Ace', sans-serif;
    margin: 10px 0px;
    color: #d64c31;
}

form > input, textarea{
    display: block;
    font-family: 'Fira Sans', sans-serif;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    padding: 12px;
    border-radius: 10px;
}

.required-field::after {
    content: "*";
    color: red;
} 

input:focus, textarea:focus {
    outline: none !important; 
    border-color: #d64c31;
    box-shadow: 0 0 5px #efc3bb;
}




/* Media Queries Starts */

@media (max-width: 425px) {
   .about-container {
    /* width: 90%;
    font-size: small;  */
    font-size: small;
    grid-template-areas:
     'about'
     'links';
     }
 .social-links-container {
    flex-direction: row; 
 }

  }

/* Media Queries Ends */